/*header*/

header {
    
    padding: 20px 0px;
    justify-content: space-between;
    display: flex;
    align-items: center;

}

.bleu{
    text-decoration: none;
    color: #0065fc;
    

}
.noir{
  text-decoration: none;
  color: black

}
header ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
    color: #0065fc;
  }
  
  header ul li a:hover {
    border-top: 2px solid #0065fc;
    padding-top: 21px;
    color: #0065fc;
  }
  header ul li {
    margin-left: 28px;
  }
  

/*body*/
.search{
  height: 50px;
  width: 230px;
  font-size: 18px;
  color: black;
  font-weight: bold;
  justify-content: center;
  display: flex;
  align-items: center;
  border: 0.10px solid #F2F2F2;
}
main {
  max-width : 1440px;
  margin-left: auto;
  margin-right: auto;
}
body{
    font-family: "Raleway", "Sans serif";
    margin: 0;
}
.titre{
    font-weight: bold;
}
.recherche{
  width: 400px;
  border-radius: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
}
.logo-gps{
  height: 50px;
  width: 50px;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #F2F2F2;
  border-radius: 10px 0 0 10px;
}
.barre-recherche{
  height: 50px;
  width: 230px;
  font-size: 18px;
  color: black;
  font-weight: bold;
  justify-content: center;
  display: flex;
  align-items: center;
  border: 0.10px solid #F2F2F2;
}
.rechercher{
  background-color: #0065fc;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 50px;
  width: 120px;
  color: #F2F2F2;
  border-radius: 0 15px 15px 0;
  border: white;
}

.filtres{
  display:flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.titre-filtres{
  display:flex;
  align-items: center;
  margin-right: 20px;
  

}
.filtre-button{
  display:flex;
  align-items: center;

}
.text-icon{
  background-color: white;
  height: 60px;
  border-radius: 30px;
  margin-right: 20px;
  display:flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #deebff;

}
.text-filtre{
  margin-left: 15px;
  margin-right: 15px;
  font-weight: bold;
  text-decoration: none;
  color: black;

}
.logo{
  border-radius: 50px;
  width:  60px;
  height: 60px;
  color: #0065fc;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #deebff;
  font-size: 20px;

}
/*
.text-icon :hover{
  height: 60px;
  width: 60px;
  border-radius: 30px;
  margin-right: 20px;
  display:flex;
  align-items: center;
  justify-content: center;
  border: 0.10px solid #F2F2F2;
  transition: 0.5ms;
}
*/
.logo-i{
  display:flex;
  justify-content: left;
  margin-bottom: 30px;
}
.fa-xs {
  font-size: .99em;
}
.colorBleu{
  border-radius: 25px;
  width: 32px;
  height: 32px;
  color: #0065fc;  
  display:flex;
  align-items: center;
  justify-content: center;
}
.colorBleu1{
  border-radius: 25px;
  width: 32px;
  color: #0065fc;

}


/*hebergement*/
.fa-star{
  color: #0065fc;
}
.grey-star{
  color: grey;
}
#hebergements{
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.englobement{
  flex: 2;
  height: 650px;
  margin-right: 20px;
  border-radius: 10px;
  background-color: #F2F2F2;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  

}
.marge-heb{
  margin-left: 15px;
}
.hebergement{
  flex: 2;
  height: 650px;
  margin-right: 20px;
  border-radius: 10px;
  background-color: #F2F2F2;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 70%;
}
.titre-hebergement{
  margin-top: 40px;
  margin-bottom: 10px;
  margin-left: 30px;
}
.titre-populaires{
  margin-top: 40px;
}
.nom{
  margin-top: 10px;
  margin-bottom: 10px;
}
.plus-populaires{
 flex: 1;
 height: 650px;
  margin-left: 20px;
  border-radius: 10px;
  background-color: #F2F2F2;
  padding-left: 20px;
  padding-right: 20px;
  width: 30%;
}
.choix-hebergement{
  width: 30%;
  height: auto;
  background-color: white;
  padding: 1%;
  border-radius: 20px;

}
.populaire{
  background-color: white;
  border-radius: 20px;  
  display: flex;

  margin-top: 30px;
}

.img-heb {
    width: 100%;
    object-fit: cover;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.img-pop {
  width: 120px;
  object-fit: cover;
  height: 150px;
  border-radius: 15px 0 0 15px ;

  
}
.chart-line-black{
  margin-left: 43%;
}

.plus{
  margin-bottom: 40px;
  margin-top: 40px;
  margin-left: 30px;
}
.afficher-plus{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.prix-hebergement {
  margin-bottom: 5px;
}

.droit-popu{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}
.nom-prix{
  margin-bottom: 15px;
}
/*activités*/

#activite{
  margin-top: 50px;
  margin-bottom: 50px;
}

.activites{  
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 600px;
}


.img-act {
  width: 100%;
  object-fit: cover;
  height: 530px;
  border-radius: 15px 15px 0 0;
}

.img-acti2 {
  width: 100%;
  object-fit: cover;
  height: 228px;
  border-radius: 15px 15px 0 0;
 
}
.img-acti3 {
  width: 100%;
  object-fit: cover;
  height: 175px;
  border-radius: 15px 15px 0 0;
 
}

.img-acti56 {
  width: 100%;
  object-fit: cover;
  height: 203px;
  border-radius: 15px 15px 0 0;
 
}


.activite-2-3{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  width: 23%;
  border-radius: 15px;
  
}
.activite-5-6{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  width: 23%;
  border-radius: 15px;
}
.activite-1{
  width: 23%;
  border-radius: 15px;
  box-shadow:0 0 0 1px #deebff;
}
.activite2{
  box-shadow:0 0 0 1px #deebff;
  border-radius: 15px;
  margin-bottom: 30px;
}
.activite3{
  box-shadow:0 0 0 1px #deebff;
  border-radius: 15px;
  margin-top: 30px;
}


.activite-4{

  width: 23%;
  border-radius: 15px;
  box-shadow:0 0 0 1px #deebff;
}
.activite5{
  box-shadow:0 0 0 1px #deebff;
  border-radius: 15px;
  margin-bottom: 30px;
}
.activite6{
  box-shadow:0 0 0 1px #deebff;
  border-radius: 15px;
  margin-top: 30px;
}
.h3-acti{
  margin-left: 25px;
}
.cartes {
  text-decoration: none;
  color: black;
}

/*Footer*/
footer {
    background-color: #F2F2F2;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    padding-right: 25%;
    

    
}
.footer-section{
    display:flex;
    flex-direction: column;

}

.titre-footer {
    margin-top: 30px;
    padding-bottom: 10px;
    font-weight: 700;
    padding-left: 40px;
  /*  display: flex;
    justify-content: center;
    */
}
footer li {
    list-style-type: none;
    margin-bottom: 10px;
}

.footer-section{
    display:flex;
    flex-direction: column;
    
}

footer li a {
  text-decoration: none;
  color: black;
}

footer ul {
  margin-left: 0%;
}

@media (max-width:768px){
  footer{
    display: flex;
    flex-direction:column;
    width: 768px;
    height: auto;

  } 
  .activite2, .activite-4, .activite-1, .activite3, .activite5, .activite6 {
    width: 100%; 
    flex-direction: column;
  }
  .activites{
    margin-left: 15%;
    flex-direction: column;
    width: 100%;
  }

  .img-act, .img-acti2, .img-acti3, .img-acti56{
    width: 100%;
    object-fit: cover;
    height: 200px;
    border-radius: 15px 15px 0 0;
  }
  .activite-5-6, .activite-2-3 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .h3-acti{
    display: flex;
    margin-left: 10%;
  }

  #hebergements{
    display: block;
  }

  .plus-populaires{
    margin-left: 15%;
    width: 100%;
  }
  .hebergement{
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    margin-left: 15%;
    background-color: white;

    
  }
  .englobement{
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: white;
    
  }
  .choix-hebergement{
    width: 100%;
  }
  .img-heb{
    height: 200px;
  }
  .chart-line-black{
  }
  .filtres {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;

  }
  .titre-filtres{

  }
  .filtre-button{
    flex-wrap: wrap;
  }
  .text-icon{
    margin-bottom: 15px;
  }

}