/*header*/

header {
    
    padding: 20px 0px;
    justify-content: space-between;
    display: flex;
    align-items: center;

}

.bleu{
    text-decoration: none;
    color: #0065fc;
    

}
.noir{
  text-decoration: none;
  color: black

}
header ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
    color: #0065fc;
  }
  
  header ul li a:hover {
    border-top: 2px solid #0065fc;
    padding-top: 21px;
    color: #0065fc;
  }
  header ul li {
    margin-left: 28px;
  }
  

/*body*/
main {
  max-width :1440px;
  margin-left: auto;
  margin-right: auto;
}
body{
    font-family: "Raleway", "Sans serif";
    margin: 0;
}
.titre{
    font-weight: bold;
}
.recherche{
  width: 400px;
  border-radius: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
}
.logo-gps{
  height: 50px;
  width: 50px;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #F2F2F2;
  border-radius: 10px 0 0 10px;
}
.barre-recherche{
  height: 50px;
  width: 230px;
  font-size: 18px;
  color: black;
  font-weight: bold;
  justify-content: center;
  display: flex;
  align-items: center;
  border: 0.10px solid #F2F2F2;
}
.rechercher{
  background-color: #0065fc;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 50px;
  width: 120px;
  color: #F2F2F2;
  border-radius: 0 10px 10px 0;
  border: white;
}
.rechercher :hover{

}

.filtres{
  display:flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 40px;
}
.titre-filtres{
  display:flex;
  align-items: center;
  margin-right: 20px;

}
.filtre-button{
  display:flex;
  align-items: center;

}
.text-icon{
  background-color: white;
  height: 32px;
  border-radius: 30px;
  margin-right: 20px;
  display:flex;
  align-items: center;
  justify-content: center;
  border: 0.10px solid #F2F2F2;

}
.logo{
  border-radius: 25px;
  width: 32px;
  height: 32px;
  color: #0065fc;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #deebff;
}
.text-icon :hover{
  height: 32px;
  border-radius: 30px;
  margin-right: 20px;
  display:flex;
  align-items: center;
  justify-content: center;
  border: 0.10px solid #F2F2F2;
  transition: 0.5ms;
}
.logo-i{
  display:flex;
  align-items: center;
  justify-content: left;
}
.colorBleu{
  border-radius: 25px;
  width: 32px;
  height: 32px;
  color: #0065fc;
  display:flex;
  align-items: center;
  justify-content: center;
}

/*hebergement*/
.fa-star{
  color: #0065fc;
}
.grey-star{
  color: grey;
}
#hebergements{
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.englobement{
  flex: 2;
  height: 650px;
  margin-right: 20px;
  border-radius: 10px;
  background-color: #F2F2F2;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  

}
.hebergement{
  flex: 2;
  height: 650px;
  margin-right: 20px;
  border-radius: 10px;
  background-color: #F2F2F2;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 70%;
}
.titre-hebergement{
  margin-top: 40px;
  margin-bottom: 0px;
}
.titre-populaires{
  margin-top: 40px;
}
.nom{
  margin-top: 10px;
  margin-bottom: 10px;
}
.plus-populaires{
 flex: 1;
 height: 650px;
  margin-left: 20px;
  border-radius: 10px;
  background-color: #F2F2F2;
  padding-left: 20px;
  padding-right: 20px;
  width: 30%;
}
.choix-hebergement{
  width: 30%;
  height: auto;
  background-color: white;
  padding: 1%;
  border-radius: 20px;

}
.populaire{
  background-color: white;
  border-radius: 20px;  
  display: flex;

  margin-top: 30px;
}
.nom-prix{
 
  
}

.img-heb {
    width: 100%;
    object-fit: cover;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.img-pop {
  width: 120px;
  object-fit: cover;
  height: 150px;
  border-radius: 15px 0 0 15px ;

  
}
.chart-line-black{
  margin-left: 43%;
}

.plus{
  
 
}
.hebergement_notation_populaire{
  margin-top: 50px;
}



/*activités*/

#activite{
  margin-top: 50px;
  margin-bottom: 50px;
}
.test{
 

}
.activites{  
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 600px;
}


.img-act {
  width: 100%;
  object-fit: cover;
  height: 530px;
  border-radius: 15px 15px 0 0;
}
.activite-2-3{
  
}
.img-acti2 {
  width: 100%;
  object-fit: cover;
  height: 270px;
  border-radius: 15px 15px 0 0;
 
}
.img-acti3 {
  width: 100%;
  object-fit: cover;
  height: 200px;
  border-radius: 15px 15px 0 0;
 
}

.img-acti56 {
  width: 100%;
  object-fit: cover;
  height: 233px;
  border-radius: 15px 15px 0 0;
 
}

.nom-activite1{

}
.activite-2-3{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  width: 23%;
  border-radius: 15px;
}
.activite-5-6{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  width: 23%;
  border-radius: 15px;
}
.activite-1{
  width: 23%;
  border-radius: 15px;
  box-shadow:0 0 0 1px black;
}

.activite-4{

  width: 23%;
  border-radius: 15px;
}

/*Footer*/
footer {
    background-color: #F2F2F2;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    

    
}
.footer-section{
    display:flex;
    flex-direction: column;

}

.titre-footer {
    margin-top: 30px;
    padding-bottom: 10px;
    font-weight: 700;
    display: flex;
    justify-content: center;
}
footer li {
    list-style-type: none;
    margin-bottom: 10px;
}

.footer-section{
    display:flex;
    flex-direction: column;
    
}

footer li a {
  text-decoration: none;
  color: black;
}